#if(!$package.isEmpty())
package $package;
#end

#foreach($importClass in $importClassList)
import $importClass;
#end

public class $simpleName extends ${superImpClassName}<${entitySimpleName}Repository, ${entitySimpleName}> implements ${superClassName}<${entitySimpleName}> {

}